<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lijesh.wikimusic">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WikiMusic"
        android:usesCleartextTraffic="true">

        <activity android:name="com.lijesh.wikimusic.View.Activities.ArtistActivity" android:parentActivityName="com.lijesh.wikimusic.View.Activities.GenreDetailActivity"></activity>
        <activity android:name="com.lijesh.wikimusic.View.Activities.AlbumActivity" android:parentActivityName="com.lijesh.wikimusic.View.Activities.GenreDetailActivity"/>
        <activity android:name="com.lijesh.wikimusic.View.Activities.GenreDetailActivity" android:parentActivityName="com.lijesh.wikimusic.View.Activities.MainActivity" />
        <activity android:name="com.lijesh.wikimusic.View.Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>